
WeatherApp/WeatherAppWithStoryboard/WeatherAppWithStoryboard.xcodeproj/xcuserdata/krzysztofmaraszkiewicz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WeatherApp/WeatherAppWithStoryboard/WeatherAppWithStoryboard.xcodeproj/xcuserdata/krzysztofmaraszkiewicz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ios/InstagramLikeApp/.DS_Store
ios/HitList/HitList/.DS_Store
ios/HitList/HitList/.DS_Store
ios/InstagramLikeApp/WithStoryboard/.DS_Store
ios/InstagramLikeApp/WithStoryboard/Pods/.DS_Store
ios/WeatherApp/.DS_Store
ios/Wendercast/WenderCast-Finished/.DS_Store
ios/Wendercast/WenderCast-Starter/.DS_Store
ios/InstagramLikeApp/WithStoryboard/Pods/
ios/InstagramLikeApp/WithStoryboard/Podfile.lock
ios/WeatherApp/WeatherAppWithStoryboard/Pods/
ios/WeatherApp/WeatherAppWithStoryboard/Podfile.lock
dotnet/AlghorithmsExampleProject/.idea/
dotnet/GetHashCodeExample/.idea/
ios/.DS_Store
ios/HitList/.DS_Store
ios/HitList/HitList/.DS_Store
ios/HitList/HitList/HitList/.DS_Store
ios/WeatherApp/.DS_Store
ios/WeatherApp/examples_from_book/.DS_Store
ios/WeatherApp/examples_from_book/poswif/.DS_Store
ios/WeatherApp/examples_from_book/poswif/Rozdzial10/.DS_Store
ios/WeatherApp/WeatherAppWithStoryboard/.DS_Store
ios/WeatherApp/examples_from_book/poswif/Rozdzial10/InstagramLikeApp/.DS_Store
ios/AutoLayoutTutorial/AutoLayoutProgrammaticallyTutorial/.DS_Store
ios/AutoLayoutTutorial/Gallery Starter/Gallery Starter/.DS_Store
ios/InstagramLikeApp/WithStoryboard/InstagramLikeApp.xcworkspace/xcuserdata/
ios/WeatherApp/WeatherAppWithStoryboard/WeatherAppWithStoryboard.xcodeproj/project.xcworkspace/xcuserdata/
ios/AutoLayoutTutorial/AutoLayoutProgrammaticallyTutorial/AutoLayoutProgrammaticallyTutorial.xcodeproj/project.xcworkspace/xcuserdata/
ios/WeatherApp/examples_from_book/poswif/Rozdzial10/InstagramLikeApp/InstagramLikeApp.xcodeproj/project.xcworkspace/xcuserdata/
dotnet/.DS_Store
ios/WeatherApp/WeatherAppWithStoryboard/WeatherAppWithStoryboard.xcodeproj/xcuserdata/
dotnet/EntityFrameworkTutorial/.DS_Store
dotnet/EntityFrameworkTutorial/01/MyFirstEFApp/.idea/
dotnet/EntityFrameworkTutorial/01/MyFirstEFApp/.DS_Store
dotnet/ProgrammingPatterns/.idea/
angular/anuglar-tutorial/node_modules/
azure/AzureStorageTutorial/.vs/
azure/AzureStorageTutorial/bin/
azure/AzureStorageTutorial/obj/
azure/ServiceBus/Common/bin/
azure/ServiceBus/Common/obj/
azure/ServiceBus/PrivateMessageReceiver/bin/
azure/ServiceBus/PrivateMessageReceiver/obj/
azure/ServiceBus/PrivateMessageReceiver/.vs/
azure/ServiceBus/PrivateMessageSender/PrivateMessageSender/bin/
azure/ServiceBus/PrivateMessageSender/PrivateMessageSender/obj/
azure/ServiceBus/PrivateMessageSender/PrivateMessageSender/.vs/
azure/ServiceBus/PrivateMessageSender/.vs/
azure/ServiceBus/TopicReceiver/bin/
azure/ServiceBus/TopicReceiver/obj/
azure/ServiceBus/TopicReceiver/.vs/
azure/ServiceBus/TopicSender/bin/
azure/ServiceBus/TopicSender/obj/
azure/ServiceBus/TopicSender/.vs/
azure/AzureQueueStorage/QueueApp/bin/
azure/AzureQueueStorage/QueueApp/obj/
azure/AzureQueueStorage/QueueApp/.vs/
azure/AzureQueueStorage/QueueApp/QueueApp/bin/
azure/AzureQueueStorage/QueueApp/QueueApp/obj/
azure/AzureQueueStorage/QueueApp/QueueApp/.vs/
azure/ServiceBus/.vs/
azure/ServiceBus/PrivateMessageSender/bin/
azure/ServiceBus/PrivateMessageSender/obj/
azure/ServiceBus/PrivateMessageSender/.vs/
SingnalR/UI/node_modules/
SingnalR/.DS_Store
SingnalR/UI/package-lock.json
SingnalR/WebAPI/RealTimeCharts_Server/.vs
SingnalR/WebAPI/RealTimeCharts_Server/obj
SingnalR/WebAPI/RealTimeCharts_Server/RealTimeCharts_Server/obj/
SingnalR/WebAPI/RealTimeCharts_Server/RealTimeCharts_Server/bin/
.DS_Store
SingnalR/UI/.vscode/
RabbitMQ/ReceiverApp/.vs/
RabbitMQ/SenderApp/.vs/
RabbitMQ/SenderApp/SenderApp/bin/
RabbitMQ/SenderApp/SenderApp/obj/
RabbitMQ/ReceiverApp/ReceiverApp/bin/
RabbitMQ/ReceiverApp/ReceiverApp/obj/
Sql/dotnetExample/EntityFrameworkExample/.vs/
Sql/dotnetExample/EntityFrameworkExample/EntityFrameworkExample/bin/
Sql/dotnetExample/EntityFrameworkExample/EntityFrameworkExample/obj/
wpf/HelloWorldMvvmTutorial/.vs/HelloWorldMvvmTutorial/v16/
wpf/HelloWorldMvvmTutorial/HelloWorldMvvmTutorial/obj/
wpf/HelloWorldMvvmTutorial/HelloWorldMvvmTutorial/bin/
wpf/NotifyDataErrorInfo/NotifyDataErrorInfo/obj/
wpf/NotifyDataErrorInfo/NotifyDataErrorInfo/bin/
wpf/NotifyDataErrorInfo/.vs/
java/.idea
Sql/dotnetExample/EntityFrameworkExample/.idea/
*/*/*/*/bin
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/.vs
*/*/*/.vs
