<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPersonServiceContract" transactionFlow="true">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPersonServiceContract1" transactionFlow="true">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPersonServiceContract"
                contract="ServiceReference1.IPersonServiceContract" name="WSHttpBinding_IPersonServiceContract" />
            <endpoint address="http://localhost:50230/ServiceContracts/PersonServiceContract/PersonServiceContract.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPersonServiceContract1"
                contract="ServiceReference2.IPersonServiceContract" name="WSHttpBinding_IPersonServiceContract1" />
        </client>
    </system.serviceModel>
</configuration>