@model string

<div asp-validation-summary="All"></div>

<form asp-action="Create" method="post">
	<label for="name"></label>
	<input name="name" />
	<br />
	<button type="submit">Add</button>
	<a asp-action="Index"></a>
</form>