<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      internalLogLevel="Trace" 
      internalLogFile="C:\Users\user\Desktop\Log2\${shortdate}.log">
	<targets>
		<target
			xsi:type="File"
			name="mapFile"
			fileName="C:\Users\user\Desktop\${shortdate}.log"
			layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" >
		</target>

		<target
			xsi:type="Database"
			name="mapDataBase">
			<commandText>INSERT INTO [LogEntries](TimeStamp, Message, Level, Logger) VALUES(GETDATE(), @message, @level, @logger)</commandText>
			<parameter name="@message" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<dbProvider>System.Data.SqlClient</dbProvider>
			<connectionString>Server=STACJONARNY\SQLEXPRESS;Database=TestModel;Trusted_Connection=True</connectionString>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Warn" writeTo="mapFile" />
		<logger name="*" minlevel="Trace" writeTo="mapDataBase" />
	</rules>
</nlog>